

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label, input, select {
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

