html, body {
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
}
.maintitle{
    background-color: white;
    background-image: url(images/header.jpeg);
    background-size: cover;
    
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: black;
    
}

.nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid grey;
}
.nav a:hover {
    background-color: grey;
}

.login {
    font-size: 16px ;
    background-color: rgb(0, 200, 255);
    padding: 10px 32px;
    margin: auto;
    color: black


}

.userinput {
    text-align: center;
    
}

.user {
    font-size: 16px ;
    padding: 10px 32px;
}

.pass {
    font-size: 16px ;
    padding: 10px 32px;
}